/* Font-based icons */
@font-face {
	font-family: "edgeicons";
	src: url(./fonts/edge-icons-Regular.0e351.eot);
	/* IE9 Compat Modes */
	src: url(./fonts/edge-icons-Regular.0e351.eot?#iefix) format("embedded-opentype"),
	url(./fonts/edge-icons-Regular.d0526.woff) format("woff"),
	url(./fonts/edge-icons-Regular.86a61.ttf) format("truetype");
}

:root {
	--feather-font-family-base: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;    
	--feather-font-size-normal: 0.7rem;
	--feather-line-height-normal: 1rem;
	--feather-font-family-monospace: Menlo, Monaco, Consolas, "Courier New", monospace;
}

html {
	font-size: 20px;
	line-height: 1.15;
	text-size-adjust: 100%;
}

*,
::before,
::after {
	box-sizing: inherit;
}

::before,
::after {
	box-sizing: border-box;
}

article,
aside,
footer,
header,
nav,
section {
	display: block;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0px;
}

figcaption,
figure,
main {
	display: block;
}

figure {
	margin: 1em 40px;
}

hr {
	box-sizing: content-box;
	height: 0px;
	overflow: visible;
}

pre {
	font-family: monospace, monospace;
	font-size: 1em;
}

a {
	background-color: transparent;
}

b,
strong {
	font-weight: inherit;
	font-weight: bolder;
}

code,
kbd,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

dfn {
	font-style: italic;
}

mark {
	background-color: rgb(255, 255, 0);
	color: rgb(0, 0, 0);
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

audio,
video {
	display: inline-block;
}

audio:not([controls]) {
	display: none;
	height: 0px;
}

img {
	border-style: none;
}

svg:not(:root) {
	overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
	font-family: sans-serif;
	font-size: 100%;
	line-height: 1.15;
	margin: 0px;
}

button,
input {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
	appearance: button;
}

legend {
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0px;
	white-space: normal;
}

progress {
	display: inline-block;
	vertical-align: baseline;
}

textarea {
	overflow: auto;
}

details,
menu {
	display: block;
}

summary {
	display: list-item;
}

canvas {
	display: inline-block;
}

template {
	display: none;
}

[hidden] {
	display: none;
}

html {
	box-sizing: border-box;
	font-family: sans-serif;
}

body,
blockquote,
dl, dd,
h1, h2, h3, h4, h5, h6,
figure,
p, pre {
	margin: 0px;
}

button {
	background: transparent;
	border: 0px;
	padding: 0px;
}

button:focus {
	outline: -webkit-focus-ring-color auto 5px;
}

iframe {
	border: 0px;
}

ol,
ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

[tabindex="-1"]:focus {
	outline: none !important;
}

a:active,
a:hover {
	outline-width: 0px;
}

button,
input,
optgroup,
select,
textarea {
	font-family: sans-serif;
	font-size: 100%;
	line-height: 1.15;
}

button:not([disabled]) {
	cursor: pointer;
}

a {
	color: rgb(0, 131, 235);
	text-decoration: none;
}

a:hover,
a:focus {
	color: rgb(0, 131, 235);
	text-decoration: underline;
}

p {
	margin: 0 0 0.4rem;
}

ol {
	list-style: decimal;
}

ol ol {
	list-style: lower-alpha;
}

ol ol ol {
	list-style: lower-roman;
}

ul {
	list-style: disc;
}

ul ul {
	list-style: circle;
}

ul ul ul {
	list-style: square;
}

code,
kbd,
pre,
samp {
	font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

button {
	font-family: var(--feather-font-family-base);
	line-height: inherit;
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--feather-font-family-base);
}

h1 {
	font-weight: 700;
	font-size: 1.2rem;
	line-height: 1.6rem;
}

h2 {
	font-weight: 700;
	font-size: 1rem;
	line-height: 1.4rem;
}

h3 {
	font-weight: 700;
	font-size: 0.8rem;
	line-height: 1.2rem;
}

h4,
h5,
h6 {
	font-size: 0.7rem;
	line-height: 1rem;
	font-weight: 700;
}

a[role="tab"]:hover,
a[role="tab"]:active,
a[role="tab"]:focus,
a[role="menuitem"]:hover,
a[role="menuitem"]:active,
a[role="menuitem"]:focus {
	text-decoration: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
	appearance: button;
}

svg:not(:root) {
	overflow: hidden;
}

a svg {
	width: 10px;
	transform: scaleX(-1);
	margin-left: 2px;
	margin-bottom: 2px;
	height: 10px;
	vertical-align: text-bottom;
	position: relative;
	max-width: 100%;
	fill: currentcolor;
	user-select: none;
	display: inline-block;
}

/* Main */

html {
	box-sizing: border-box;
	font-family: sans-serif;
	font-size: 20px;
	line-height: 1.15;
	text-size-adjust: 100%;
}

body {
	color: rgb(15, 20, 25);
	font-family: var(--feather-font-family-base);
	font-size: var(--feather-font-size-normal);
	line-height: var(--feather-line-height-normal);
	-webkit-font-smoothing: subpixel-antialiased;
}

#page {
	max-width: 1100px;
	margin: 0px auto;
}

#content {
	max-width: 690px;
	margin: 0px auto;
	min-height: 101vh;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header {
	border-bottom: 1px solid rgb(239, 243, 244);
	margin-bottom: 20px;
}

.row {
	margin: 0;
	border-bottom: 1px solid rgb(239, 243, 244);
	margin-bottom: 18px;
	padding-bottom: 14px;
}

#background {
	width: 100%;
	height: 160px;
	overflow: hidden;
	background-image: url(header.jpg);
	background-size: cover;

}

#profile {
	display: flex;
	flex-flow: row wrap;
	width: 90%;
	margin: -10% 5% 10px;
	z-index: 1990;
}

#profile img {
	padding: 8px;
	width: 100%;
}

#profile svg {
	width: 18px;
}

#profile_avatar {
	flex: 128px 1;
	max-width: 128px;
	background-color: white;
	border-radius: 63px 0 0 0;
}

#profile_avatar img {
	border-radius: 70px;
}

#profile_info {
	flex: 1 1 calc(100% - 140px);
	padding: 10px;
	background-color: white;
	border-radius: 0 4px;
}

#profile_info .bio {
	margin: 6px 0px;
	display: inline-block;
}

#profile span.icon-location {
	width: 18px;
	margin: 0;
}

#profile span.icon-location svg {
	margin-bottom: -4px;
}

.tweet-group {
    max-width: 596px;
    margin: 0 auto;
}

.item {
	border-bottom-color: rgb(204, 214, 221);
	border-bottom-width: 1px;

	padding-bottom: 10px;
	padding-top: 10px;

	padding-left: 15px;
	padding-right: 15px;

	-webkit-box-align: stretch;
	-webkit-box-direction: normal;
	-webkit-box-orient: vertical;
	align-items: stretch;
	border: 0px solid black;
	box-sizing: border-box;
	display: flex;
	flex-basis: auto;
	flex-direction: column;
	flex-shrink: 0;
	margin: 0px;
	min-height: 0px;
	min-width: 0px;
	padding: 0px;
	position: relative;
	z-index: 0;
}


#footer {
	width: 100%;
	/* background-color: grey; */
	height: 80px;
	text-align: center;
	font-size: 20px;
	margin-top: 20px;
}

.Tweet-text {
	-webkit-font-smoothing: subpixel-antialiased;
	color: #0F1419;
	font-size: 15px;
	line-height: 18px;
}

.Tweet-footer {
	margin-left: 48px;
}

.Tweet--web .Tweet-actions {
	display: flex;
}

.Tweet-actions {
	color: #536471;
	margin: 7px 0 0 0;
	padding: 0;
	background: 0;
	border: 0;
	/* color: inherit; */
	line-height: 12px;
	font-size: 16px;
	text-align: left;
}

.Tweet--web .Tweet-action {
	min-width: 58px;
	color: #0F1419;
	text-align: left;
}

button, html [type="button"], [type="reset"], [type="submit"] {
	-webkit-appearance: button;
}
.Tweet--web .Tweet-actionCount {
	margin-left: 6px;
	font-weight: 700;
}
.Tweet-actionCount {
	display: inline-block;
	font-size: 12px;
	transform: translateY(-2px);
}

/* ** */

.Tweet {
	min-width: 320px;
	overflow: hidden;
  }
  .Tweet-avatarContainer {
	float: left;
	display: block;
	width: 48px;
	height: 48px;
	margin: 2px 8px 0 0px;
	border-radius: 9999px;
	overflow: hidden;
  }
  .Tweet-avatar {
	display: inline-block;
  }
  /* User data */
  .Tweet-userData {
	font-size: 14px;
  }
  .Tweet-userData .Tweet-userLink {
	text-decoration: none;
  }
  .Tweet-userData .Tweet-userLink:hover,
  .Tweet-userData .Tweet-userLink:focus {
	outline: none;
  }
  .Tweet-userData .Tweet-userLink:hover .Tweet-name,
  .Tweet-userData .Tweet-userLink:focus .Tweet-name {
	text-decoration: underline;
	color: #0083EB;
  }
  .Tweet-userData .Tweet-screenName {
	margin-left: 2px;
	color: #536471;
  }
  .Tweet-userData .Tweet-name {
	font-weight: 700;
	color: #0F1419;
	text-decoration: none;
  }
  .Tweet-userData .Tweet-name:hover {
	color: #0083EB;
  }
  .Tweet-userData .Icon--verified,
  .Tweet-userData .Icon--protected {
	font-size: 16px;
	line-height: 15px;
	vertical-align: top;
  }

/* Tweet timestamp */
.Tweet-timestamp {
color: #536471;
}

.Tweet--timeline .Tweet-timeLabel::before {
	content: '\00b7';
}

a.Tweet-timestamp:hover,
a.Tweet-timestamp:focus {
color: #0083EB;
outline: none;
}

.Tweet-text {
word-wrap: break-word;
overflow-wrap: break-word;
white-space: pre-wrap;
}

/* IMAGE stuff */


svg:not(:root) {
	overflow: hidden;
}

a svg {
	width: 10px;
	transform: scaleX(-1);
	margin-left: 2px;
	margin-bottom: 2px;
	height: 10px;
	vertical-align: text-bottom;
	position: relative;
	max-width: 100%;
	fill: currentcolor;
	user-select: none;
	display: inline-block;
}

.Tweet {
	min-width: 320px;
	overflow: hidden;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.Tweet-body, .Tweet--timeline .Tweet-footer {
	margin-left: 58px;
}

.Tweet-videoContainer,
.Tweet-photoContainer {
	display: block;
	position: relative;
	max-height: 506px;
	margin-top: 10px;
	overflow: hidden;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 14px;
}

.Tweet-videoContainer video,
.Tweet-photoContainer img {
	max-width: 100%;
	width: 100%;
}

/* Mobile */

@media only screen 
	and (max-device-width: 812px) { 
		#content .row  {
			margin-left: 15px;
			margin-right: 15px;
		}

		#profile_avatar {
			display: none;
		}
		#profile_info {
			border-radius: 4px;
			padding: 10px 15px;
		}
}
